{% extends "base.html" %}
{%load static%}
{% block title %}Categories{% endblock title %}
{% block header %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tournament Categories</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for item in categories %}
                      <li><a class="dropdown-item" href="{%url 'category' item%}">{{item}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
{% endblock %}
{% block body %}
<br>

        <section id="stores" class="pt-4">
            <h1 class="text-center my-5"><Strong>{{category}} Entry Stores</Strong></h1>

            <div class="row">
             {% for store in category_stores %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-dark mb-3">
                        <div class="card-body text-secondary">
                            <a href="{% url 'store_detail' store.id %}" class="link-dark">
                                <h4 class="card-title">{{store.name}}</h4>
                            </a>
                            {% if store.description%}
                                <p class="card-text">  {{store.description}}</p>
                                <hr>
                            {% endif %}
                            {% if store.entry_fee %}
                                <p>Tournament Entry: {{store.entry_fee}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>

{% endblock %}